.card {
  box-shadow: 0 0 10px gray;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
}
.card:hover {
  box-shadow: 0 0 20px orange;
  transform: scale(1.02);
  cursor: pointer;
}
.wrap {
  position: relative;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.carddate {
  margin-top: 3%;
  color: gray;
  font-size: 15px;
}
.cardtitle {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin-bottom: 2%;
}
.cardtext {
  font-size: 15px;
  color: black;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 4%;
}
.cardimg{
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}