.wrapper {
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 80px;
    border-bottom: 3px solid #e6e6e6;
}
.newtitle {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 4%;
}
.newtitle::after {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 100px;
    top:11%;
    left: 50%;
    background-color: orange;
    transform: translateX(-50%);
}
.cards {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.allposts {
    padding: 8px 30px 13px 30px;
    margin:0;
    border:2px solid orange;
    font-size:25px;
    font-weight: bold;
    color: white;
    background-color: orange;
    font-family: 'Oswald', sans-serif;
    transition: all 0.4s ease-out;
    text-decoration: none;
}
.allposts:hover {
    background-color: black;
    border: 2px solid orange;
    cursor: pointer;
}

/* 활동분야 / 캠페인 */
.camp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.camptitle{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 4%;
}
.campcards {
    display: flex;
    justify-content: space-between;
    width:58%;
}
