.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-out;
}
.title {
    color: black;
    text-decoration: none;
    font-size:60px;
    font-weight: bold;
}
.items {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}
.iwrap{
    position: relative;
    padding-top: 1.2%;
}
.item {
    color: black;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}
.item::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    top:78%;
    left: 0;
    background-color: goldenrod;
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
}
.item:hover::after{
    transform: scaleX(1);
    transform-origin: bottom center;
}