@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.main-footer {
  color: white;
  background-color: #2d3e50;
  position: relative;
  bottom: 0;
  width: 100%;
}

.frow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 25px;
}

.ftitle {
  color: white;
  font-size: 3em;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 5px;
}

.fieldwrap {
  display: flex;
  flex-direction: column;
}

.inpf {
  height: 40px;
  border-radius: 5px;
  border: 2px solid #2d3e50;
  padding-left: 10px;
  font-size: 1.2em;
  outline: none;
  margin-bottom: 5px;
}

.subbut {
  border-radius: 5px;
  border: 2px solid orange;
  background-color: transparent;
  color: orange;
  font-size: 1.2em;
  font-weight: bolder;
  height: 40px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.subbut:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.inpf:focus {
  border: 2px solid orange;
}

.llist {
  display: grid;
}

.slink {
  text-decoration: none;
  color: orange;
  font-size: 1.5em;
  padding-left: 0px;
  transition: color 0.3s ease-in-out, padding-left 0.3s ease-in-out;
  cursor: pointer;
}

.slink:hover {
  color: black;
  padding-left: 5px;
}

.copyright {
  padding-left: 1%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 18px;
  color: white;
  font-size: 1.2em;
}
